@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Text colors */
    --heading-color: hsl(238, 29%, 16%);
    --hover-color: hsl(14, 88%, 65%);
    --summary-color: hsl(237, 12%, 33%);
    --detail-color: hsl(240, 6%, 50%);

    /* Background gradient */
    --upper-color: hsl(273, 75%, 66%);
    --lower-color: hsl(240, 73%, 65%);

    /* Divider */
    --divider-color: hsl(240, 5%, 91%);
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    font-size: 0.75em;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(to bottom, var(--upper-color), var(--lower-color));
    background-repeat: no-repeat;
    min-height: 100vh;
}
*, * * {
    box-sizing: border-box;
}
h1 {
    font-size: 2.5rem;
    color: var(--heading-color);
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.wrapper {
    border-radius: 16px;
    width: 85vw;
    padding: 1rem;
    margin-top: 100px; /* Space for overflowing SVG image on mobile */
    background-color: white;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.illustration {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-60%) translateX(-55%);
}

.faq-list {
    margin-top: 120px; /* Space for bottom half of overflowing SVG */
}
    .faq-list h1 {
        text-align: center;
    }
    .faq-list ul {
        list-style: none;
        padding: 1rem;
    }
    .faq-list ul li {
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: 1px solid var(--divider-color);
    }
    .faq-list ul li details {
        width: 100%;
    }
    .faq-list ul li details > summary {
        list-style: none;
        color: var(--summary-color);
        cursor: pointer;
    }
    .faq-list ul li details > summary::-webkit-details-marker {
        display: none;
    }
    .faq-list ul li details > summary:hover {
        color: var(--hover-color) !important;
        cursor: pointer;
    }
    .faq-list ul li details > summary::after {
        content: url('../images/icon-arrow-down.svg');
        float: right;
        transition: transform 0.4s ease;
    }
    .faq-list ul li details[open] > summary {
        font-weight: bolder;
        color: var(--heading-color);
    }
    .faq-list ul li details[open] > summary::after {
        content: url('../images/icon-arrow-down.svg');
        float: right;
        animation: rotate 0.4s ease;
        transform: rotate(180deg);
    }
    .faq-list ul li details > p {
        max-width: inherit;
        max-height: 0px;
        margin-bottom: 0;
        color: var(--detail-color);
        overflow: hidden;
        transition: max-height 1s ease;
    }
    .faq-list ul li details[open] > p {
        max-height: 200px;
        transition: max-height 1s ease;
    }

footer {
    text-align: center;
    margin-top: 2rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* For desktop and tablets */
@media (min-width: 768px) {
    main {
        min-height: 100vh;
        align-items: center;
        overflow: hidden;
    }

    .wrapper {
        width: 70vw;
        margin-top: 0;
        padding: 0;

        background-image: none;

        display: flex;
        align-items: stretch;
        box-shadow: 0px 5px 16px 1px hsla(0, 0%, 21%, 0.4);
    }

    .illustration-box {
        flex: 0 1 50%;
        max-width: 50%;
        position: relative;

        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: -450px 65%;
    }
        picture {
            display: block;
            height: 100%;
            width: 100%;
            position: relative;

            background-image: url('../images/illustration-woman-online-desktop.svg');
            background-repeat: no-repeat;
            background-size: 400px;
            background-position: -50px;
        }
        picture::before {
            height: inherit;
            width: inherit;

            content: "";
            background-image: url('../images/illustration-box-desktop.svg');
            background-repeat: no-repeat;
            background-size: 150px;
            position: absolute;
            top: 42%;
            left: -60px;
        }
        .illustration {
            display: none;
        }
    
    .faq-list {
        flex: 1 0 50%;
        margin-top: 0;
        padding: 3rem;
    }
        .faq-list h1 {
            text-align: left;
        }
        .faq-list ul {
            padding: 0;
        }
}