@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Text colors */
    --heading-color: hsl(238, 29%, 16%);
    --hover-color: hsl(14, 88%, 65%);
    --summary-color: hsl(237, 12%, 33%);
    --detail-color: hsl(240, 6%, 50%);

    /* Background gradient */
    --upper-color: hsl(273, 75%, 66%);
    --lower-color: hsl(240, 73%, 65%);

    /* Divider */
    --divider-color: hsl(240, 5%, 91%);
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 0.75em;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(to bottom, var(--upper-color), var(--lower-color));
    background-repeat: no-repeat;
}
*, * * {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 8px;
    width: 90vw;
    padding: 1rem 0;
}

.illustration {
    background-color: white;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: inherit;
    transform: translateY(55%);
}
    .illustration__main {
        margin-left: 50%;
        transform: translateY(-55%) translateX(-55%);
    }

.faq-list {
    background-color: white;
    border-radius: inherit;
    padding: 1rem 2rem;
    height: 100%;

    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
    z-index: 1;
}
    .faq-list h1 {
        text-align: center;
    }
    .faq-list ul {
        list-style: none;
        padding: 1rem;
    }
    .faq-list details > summary {
        list-style: none;
    }
    .faq-list details > summary::-webkit-details-marker {
        display: none;
    }
    .faq-list details {
        width: 100%;
    }
    .faq-list details > p {
        max-width: inherit;
    }

footer {
    text-align: center;
}